/*--------------------- GLOBAL STYLES ---------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Ruhl';
    src: url('fonts/FrankRuhlLibre-Regular.ttf');
}
@font-face {
    font-family: 'Ruhl Medium';
    src: url('fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face {
    font-family: 'Vibes';
    src: url('fonts/GreatVibes-Regular.ttf');
}
html {
    font-size: 62.5%;
    --header1: calc(2rem + 1vw);
    --header2: calc(3.5rem + 1vw);
    --header3: calc(3rem + 1vw);
    --header4: calc(2.4rem + 1vw);
    --header5: calc(1.5rem + 1vw);
    --header6: calc(2.4rem + 1vw);
    --text: calc(1.5rem + 1vw);
    --big: calc(2.4rem + 1vw);
    --special-color: #906272;
    --background-color: #414141;
    --gray-text: #525252;
}
li,
button,
label,
input,
a,
p {
    font-size: var(--text);
}
h2 {
    font-size: var(--header2);
}
h3 {
    font-size: var(--header3);
}
h4 {
    font-size: var(--header4);
}
h5 {
    font-size: var(--header5);
}
h6 {
    font-size: var(--header6);
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: black;
}
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    font-family: "Ruhl", sans-serif;
    animation: opening 1s ease-in-out ;
}
h1 {
    font-family: "Vibes", sans-serif;
    font-size: var(--header1);
}


/*------------------ NAV SECTION ---------------------*/

.main-head {
    box-shadow:  0px 10px 10px rgba(0,0,0, 0.1);
    z-index: 2;
    position: relative;
}

nav {
    width: 90%;
    min-height: 10vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h1 {
    flex: 1 1 40rem;
}
nav .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1 1 40rem;
}
nav .nav-links li a {
    
}

.hero {
    min-height: 90vh;
    width: 95%;
    margin: 0 0 0 auto;
    display: flex;
    flex-wrap: wrap;
    
}
.hero-intro {
    flex: 1.5 1 40rem;
    text-align: center;
}
.hero-intro p{
    padding: 5rem 10rem;
    color: var(--gray-text);
}
.hero-intro h2{
    padding-top: 3rem;
}
.hero-intro a {
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom: 4rem;
}
.hero-images {
    flex: 1 1 40rem;
    background-color: linear-gradient(#dad8dd, #dad1d4);
    position: relative;
    height: 90vh;
}
.hero-elena {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


/*--------------- ABOUT SECTION ---------------*/

#about {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.about-image {
    flex: 1 1 40rem;
    position: relative;
}
.about-text {
    flex: 2 1 40rem;
    justify-content: space-evenly;
    background-color: var(--background-color);
    color: white;
}
.about-text div {
    padding: 0 8rem;
    font-family: 'Ruhl Medium' sans-serif;
}
.about-text h2 {
    font-family: 'Vibes';
}
.about-image .minimal {
    position: absolute;
    top: 20%;
    left: 65%;
    letter-spacing: 1rem;
    animation: mini 2.5s ease-in-out alternate forwards ;
}
.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}


/*------------------- GALLERY ------------------*/


.gallery {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    position: relative;
}
.gallery1 {
    grid-column: 1/3;
    grid-row: 1/2;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: top;
}
.gallery2 {
    grid-column: 3/4 ;
    grid-row: 1/3;
    
    object-fit: cover;
}
.gallery3 {
    grid-column: 1/2;
    grid-row: 2/3;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.gallery4 {
    grid-column: 2/3;
    grid-row: 2/3;
    height: 50vh;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.gallery1:hover,
.gallery2:hover,
.gallery3:hover,
.gallery4:hover {
    opacity: 0.6 ;
    transition:  .5s ease-in-out;
}

.gallery-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    padding: 4rem 12rem;
    background-color: var(--background-color);
    opacity: 0.8;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 1.5;
}


/*------------------- CONTACT SECTION ------------------*/

#contact {
    min-height: 100vh;
    display: flex;
    background-color: #07080d;
    align-items: center;
    text-align: center;
    color: white;
    flex-wrap: wrap;
}
.contact-text {
    flex: 1 1 40rem;
}
.contact-text h4 {
    padding: 3rem 3rem 10rem;
}
.contact-text .touch-span {
    font-size: 8rem;
    color: orangered;
}
.contact-text .form {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 50%;
    margin: 0 auto;
}
.contact-text .input-text {
    padding: 1rem 2rem;
    border-radius: 10px;
    background-color: navajowhite;
    outline-style: none;
    margin: 1rem 0rem 4rem;
    width: 100%;
}
.contact-text .input-submit {
    width: 50%;
    align-self: center;
    background-color: orangered;
    color: white;
    font-family: 'Ruhl Medium';
    border-radius: 10px;
    outline-style: none;
}
.contact-text .input-submit:hover {
    opacity: 0.5;
    transition: 350ms ease-in-out;
}
.contact-text .form .label {
    align-self: center;
}

.contact-image {
    flex: 1 1 40rem;
    min-height: 100vh;
}
.contact-image img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: top;
}


/*------------------- FOOTER SECTION ------------------*/


footer {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    min-height: 10vh;
    background-color: navajowhite;
}
footer .footer-logo {
    flex: 2 1 25rem;
    padding-left: 4rem;
}
footer ul {
    flex: 1 1 25rem;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}


/*------------------- ANIMATIONS ------------------*/



@keyframes opening {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes mini {
  
  0% {
    transform: rotatex(180deg) rotatey(180deg) rotatez(180deg) translatex(-80%) translatey(40%);
  }
  100% {
    transform: rotatex(0deg) rotatey(0deg) rotatez(0deg) translatex(0%) translatey(0%);
  }
}


/*-------------------- MEDIA QUERIES ------------------*/


@media screen and (max-width: 842px) {
    .hero {
        width: 100%;
    }
    .hero-intro p{
    padding: 5rem 3rem;
    }
    
    /*--------- About ----------*/
    
    .about-text div{
        padding: 3rem 2rem;
    }
    .about-text h2 {
        padding: 3rem 0 2rem;
    }
    
    /*--------- About ----------*/
    
    .gallery img {
        grid-column: auto;
        grid-row: auto; 
    }
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(35rem,1fr))
    }
    .gallery2 {
        width: 100%;
        height: 50vh;
    }
}